

.logo-container{
  padding-left: 300px;
}
.btn-container{
 position: relative;
 bottom:100px;
 left:900px;
}
.add-icon{
  font-size: 25px;
}

.tbl{
  font-family: Geneva, Verdana, sans-serif;
  text-align: center;
}
.t-head{
  font-size: 20px;
  font-weight: bolder;
}
.t-body{
  font-size: 17px;
}
.tlt{
  padding-top: 30px;
}
.form-body{
  font-size: 19px;
}
